.recent-cards {
	list-style-type: none;
	padding: 0;
	.recent-card-container {
		.recent-card {
			height: 180px;
			width: 100%;
			padding: 10px;
			position: relative;
			border: 1px solid @gray-lighter;
			background-color: lighten(@gray-lighter, 5%);
			border-radius: 5px;

			margin-bottom: 10px;

			.bg {
				&:hover {
					filter: brightness(115%);
					-webkit-filter: brightness(115%);
				}
			}

			.topic-info {
				height: 120px;
				margin-left: 35px;
				overflow: hidden;

				h4 {
					font-size: 16px;
					margin-top: 0px;
				}
				p {
					max-width: 200px;
					white-space: normal;
				}
			}
			.footer {
				.category-item a, .timeago {
					color: @gray-light;
					font-size: 85%;
				}
			}

			.post-count {
				position: absolute;
				bottom: 7px;
				right: 10px;
				pointer-events: none;
			}

			.icon {
				min-width: 23px;
				min-height: 23px;
				font-size: 10px;
				line-height: 12px;
				padding: 5px;
				margin-right: 5px;
				border-radius: 50%;
			}
		}
	}
}

.recent-cards.carousel-mode {
	max-height: 180px;
	overflow: hidden;
}
