.recent-cards-plugin {
	.teaser-content {
		h1, h2, h3, h4, h5, h6 {
			font-size: 1rem;
			margin-bottom: 0;
		}
		height: 7.5em;
		> p {
			margin-bottom: 0;
		}
		img {
			border-radius: $border-radius-sm;
		}
	}
	.thumb-bg {
		.recent-card {
			background-size: cover;
			background-position: center;
		}
		.glass-layer {
			outline: 1px solid var(--bs-body-bg);
			background: rgba(var(--bs-body-bg-rgb), 0.7);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
		}
	}
}