.recent-cards {
	list-style-type: none;
	padding: 0;
	.recent-card-container {
		.recent-card {
			height: 200px;
			width: 100%;
			padding: 10px;
			position: relative;
			border: 1px solid @well-border;
			background-color: @well-bg;
			border-radius: 5px;
			margin-bottom: 10px;

			.recent-card-body {
				height: 145px;
				overflow: hidden;
			}
			h4 {
				font-size: 16px;
				margin-top: 0px;
			}
			.topic-info {
				margin-left: 35px;

				p {
					max-width: 200px;
					white-space: normal;
				}
			}
			.footer {
				.category-item a, .sort-info {
					color: @gray-light;
					white-space: nowrap;
					text-overflow: ellipsis;
					display: block;
					overflow: hidden;
				}
				.category-item a {
					font-size: 85%;
					width: 120px;
					margin-top: 2px;
					text-align: left;
				}
				.sort-info {
					font-size: 65%;
					width: 80px;
					margin-top: 4px;
					text-align: right;
				}
			}

			.post-count {
				position: absolute;
				bottom: 7px;
				right: 10px;
				pointer-events: none;
			}

			.icon {
				min-width: 23px;
				min-height: 23px;
				font-size: 10px;
				line-height: 12px;
				padding: 5px;
				margin-right: 5px;
				border-radius: 50%;
			}
		}
	}
}

.recent-cards.carousel-mode {
	max-height: 200px;
	overflow: hidden;
}
